{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {# {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %} #}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass('content') }}>
      {# {{ content }}  #}
      {# {{ content.body }} #}

        <div id="parent">
          <div class="insights-wrapper pt-lg-5">
            <div class="section-header d-flex">
                <span class="liner"></span>
                <h2>{{ 'Latest Insights'|t }}</h2>
            </div>
            {% for item in content.field_featured_blog %}
              <div class="row">
                {% if loop.index == 0 %}
                  <div class="col-md-5 mb-lg-0 mb-3">
                    <div id="child" class="featured-content">
                      <div class="blog-content-card mb-lg-5">
                        <img class="w-100" src="" alt="" />
                        <div class="blog-content">
                          <h5><a href="{{ item.entity.field_link.link }}"> {{ item.entity.field_title.value }} </a> </h5>
                            {# <div class="field-date"><?php echo "By ".$node_details->name." | ".gmdate("M j, Y", $node_details->created); ?></div> #}
                        </div>
                      </div>                      
                    </div>
                  </div>
                {# {% else %}
                  <div class="col-md-7 mb-lg-0 mb-3">
                    <div class="">                    
                      <div class="blog-related-content">
                        <div class="blog-content">
                          <div class="row">
                            <div class="col-md-4 pr-lg-0 pl-lg-3 p-0">
                              <img class="w-100" src="" alt="" />
                            </div>
                            <div class="col-md-8 field-content">                            
                              <h5><a href="{{ item.entity.field_link.value }}"> {{ item.entity.field_title.value }} </a></h5>
                              <div class="field-content-summary">{{ item.entity.field_description.value }}</div>
                              <div class="field-date"><?php echo "By ".$node_details->name." | ".gmdate("M j, Y", $node_details->created); ?></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> #}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
    </div>
  {% endblock %}
</div>
