{% include 'themes/custom/ddc/templates/includes/header.html.twig' %}

<div class="inner-banner">
  <div class="container">
    <div>
      <div class="banner-text">
        <h1 class="text-uppercases animated slideInUp">{{ node.title.value|raw }}</h1>
      </div>
    </div>
  </div>
  <div class="slide-image"> <img src="{{ file_url(node.field_banner_image.entity.fileuri) }}" alt="{{node.field_banner_image.alt}}" /></div>
</div>
{{ page.breadcrumb }}

{% if node.field_title.value %}
  <div class="layout layout-intro text-center">
      <div class="container pt-lg-5 pb-lg-3">
        <h2>{{ node.field_title.value|raw }}</h2>
        <div class="body col-md-10 m-auto">
          {{ node.body.value|raw }}
        </div>
      </div>
  </div>
{% endif %}


{% for item in node.field_suggestions %}
  {% if loop.index == 1 %}
    <div class="layout layout1 py-lg-5">
      <div class="image-background" style="background:url({{ file_url(item.entity.field_image.entity.fileuri) }}) no-repeat; background-size: cover;">
        <h2 class="background-block">{{ item.entity.field_title.value|raw }}</h2>
        <div class="body col-md-12">
          {{ item.entity.field_banner_description.value|raw }}
        </div>
      </div>
    </div>
  {% elseif loop.index == 2 %}
    <div class="layout layout2 py-lg-4">
      <div class="container p-lg-0">
        <div class="row pt-4">
          <div class="col-md-7">
            <h2>{{ item.entity.field_title.value|raw }}</h2>
            <div class="body">
              {{ item.entity.field_banner_description.value|raw }}
            </div>
          </div>
          <div class="col-md-5">
            <img src="{{ item.entity.field_image.entity.uri.value | image_style('portfolio') }}" alt="{{item.entity.field_image.alt}}"/>
            {# <img src="{{ file_url(item.entity.field_image.entity.fileuri) }}" /> #}
          </div>
        </div>
      </div>
    </div>
  {% elseif loop.index == 3 %}
    <div class="layout layout3 py-lg-4">
      <div class="container">
        <div class="row pt-lg-5">
          <div class="col-md-5">
            <img src="{{ item.entity.field_image.entity.uri.value | image_style('portfolio') }}" alt="{{item.entity.field_image.alt}}"/>
            {# <img src="{{ file_url(item.entity.field_image.entity.fileuri) }}" /> #}
          </div>
          <div class="col-md-7">
            <h2>{{ item.entity.field_title.value|raw }}</h2>
            <div class="body">
              {{ item.entity.field_banner_description.value|raw }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% elseif loop.index == 4 %}
    <div class="layout layout4 pt-lg-5 pb-lg-4">
      <div class="image-background" style="background:url({{ file_url(item.entity.field_image.entity.fileuri) }}) no-repeat; background-size: cover;">
        <h2 class="">{{ item.entity.field_title.value|raw }}</h2>
        <div class="body col-md-12">
          {{ item.entity.field_banner_description.value|raw }}
        </div>
      </div>
    </div>
  {% elseif loop.index == 5 %}
    <div class="layout layout5 py-lg-4">
      <div class="container p-lg-0">
        <div class="row pt-5">
          <div class="col-md-7">
            <h2>{{ item.entity.field_title.value|raw }}</h2>
            <div class="body">
              {{ item.entity.field_banner_description.value|raw }}
            </div>
          </div>
          <div class="col-md-5">
            <img src="{{ item.entity.field_image.entity.uri.value | image_style('portfolio') }}" alt="{{item.entity.field_image.alt}}"/>
            {# <img src="{{ file_url(item.entity.field_image.entity.fileuri) }}" /> #}
          </div>
        </div>
      </div>
    </div>
  {% elseif loop.index == 6 %}
    <div class="layout layout6 py-lg-4">
      <div class="container">
        <div class="row pt-lg-5">
          <div class="col-md-5">
            <img src="{{ item.entity.field_image.entity.uri.value | image_style('portfolio') }}" alt="{{item.entity.field_image.alt}}"/>
            {# <img src="{{ file_url(item.entity.field_image.entity.fileuri) }}" /> #}
          </div>
          <div class="col-md-7">
            <h2>{{ item.entity.field_title.value|raw }}</h2>
            <div class="body">
              {{ item.entity.field_banner_description.value|raw }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

{# <div class="layout2"></div>
<div class="layout3"></div>
<div class="layout4"></div>
<div class="layout5"></div>
<div class="layout6"></div> #}
{# Services paragraphs #}
<div class="content-container">
  <!-- <div class="container">
    {# <div class="content-section section-12 text-center">
      <div class="row">
        <div class="col-md-10 mx-auto p-5">
          <h1>{#{{ node.field_block_title.value }}#}</h1>
          {#{{ node.field_description.value|raw }}#}
        </div>
      </div>
    </div> #}
    <section class="service-list pt-lg-4 pb-lg-5">
      <div class="container p-0">
        <div class="services-block pt-4">
          <div class="row">
            {#{% for item in node.field_services_icons %}#}
              <div class="col-md-4">
                <div class="s-block">
                  <div class="icon-image">
                    <img src="{#{ file_url(item.entity.field_image.entity.fileuri) }#}" alt="{#{item.entity.field_image.alt}#}" />
                  </div>
                  <h6>{#{ item.entity.field_title.value|raw }#}</h6>
                </div>
              </div>
            {#{% endfor %}#}
          </div>
        </div>
      </div>
    </section>
  </div> -->

  {# Related Contents #}
  {# <div class="blog-experience py-5">
      <div class="layout container pb-lg-5">
        <div class="col-md-10 p-lg-0"><h2>Related Contents</h2></div>
        <div class="row pt-1 pb-4">
          <div class="col-md-4">
            <picture>
              <img src="http://159.89.170.213/drupal-development-company/sites/default/files/styles/portfolio/public/2018-11/rawpixel-648563-unsplash-1_0.jpg" />
            </picture>
            <h4>Future Security at the Edge and in the Cloud</h4>
          </div>
          <div class="col-md-4">
            <picture>
              <img src="http://159.89.170.213/drupal-development-company/sites/default/files/styles/portfolio/public/2018-11/rawpixel-648563-unsplash-1_0.jpg" />
            </picture>
            <h4>Future Security at the Edge and in the Cloud</h4>
          </div>
          <div class="col-md-4">
            <picture>
              <img src="http://159.89.170.213/drupal-development-company/sites/default/files/styles/portfolio/public/2018-11/rawpixel-648563-unsplash-1_0.jpg" />
            </picture>
            <h4>Future Security at the Edge and in the Cloud</h4>
          </div>
        </div>
      </div>
  </div> #}
</div>




{% include 'themes/custom/ddc/templates/includes/footer.html.twig' %}
