{% include 'themes/custom/ddc/templates/includes/header.html.twig' %}

  <div class="inner-banner">
    <div class="container">
      <div>
        <div class="banner-text">
          <h1 class="animated slideInUp">{{ node.title.value }}</h1>
        </div>
      </div>
    </div>
    <div class="slide-image">
      {# <img src="{{ file_url(node.field_banner_image.entity.fileuri) }}" alt="{{node.field_banner_image.alt}}" /> #}
    </div>
  </div>
  {{ page.breadcrumb }}
  <div class="other-base-page">
    <div class="col-md-9 m-auto white-bg p-lg-5 p-3">
      {{ node.body.value|raw }}
    </div>
  </div>


{% include 'themes/custom/ddc/templates/includes/footer.html.twig' %}
