{% include 'themes/custom/ddc/templates/includes/header.html.twig' %}

<div class="inner-banner">
  <div class="container">
    <div>
      <div class="banner-text">
        <h1 class="text-uppercase animated slideInUp">{{ node.title.value }}</h1>
        <p class="text-faded mb-5 animated slideInUp">{{ page.breadcrumb }}</p>
      </div>
    </div>
  </div>
  <div class="slide-image"> <img src="{{ file_url(node.field_banner_image.entity.fileuri) }}" alt="{{node.field_banner_image.alt}}" /></div>
</div>

<div class="layout-intro text-center">
    <div class="container p-lg-5">
      <h2>Experience That Evolves</h2>
      <div class="body col-md-10 m-auto">
        Our Drupal developers have been with us for over a decade now and believe in growing with the upgrades. They are innovative, versatile and completely, absolutely dedicated to creating master pieces of digital experiences. While they strive for perfection they can create robust, scalable and flexible content management solutions faster than you can imagine. Don't believe us? We will be happy to set up a meeting. Call us today.
      </div>
    </div>
</div>
{% for item in node.field_suggestions %}
{% if loop.index == 0%}
<div class="layout1">
  <div class="image-background" style="background:url({{ file_url(item.entity.field_image.entity.fileuri) }}) no-repeat; background-size: cover;">
    <h2 class="background-block">{{ item.entity.field_title.value }}</h2>
    <div class="body col-md-6">
      {{ item.entity.field_banner_description.value }}
    </div>
  </div>
</div>
{% endif %}
{% if loop.index == 1 %}
<div class="layout2">
  <div class="image-background" style="background:url(https://images.pexels.com/photos/953216/pexels-photo-953216.jpeg) no-repeat; background-size: cover;">
    <h2 class="background-block">Ready For An Upgraded Drupal Experience?</h2>
    <div class="body col-md-6">
      With over a decade of experience with Drupal, we lead the industry when it comes to building customized, omni-channel and completely awesome digital experience. Our enterprise Drupal development services bring to the table a highly experienced, innovative team which thinks on its feet and has brought to life many a visions of our clients. We listen, strategize and execute our client vision to reality. Call us now for a free consultation and quote.
    </div>
  </div>
</div>
{% endif %}
{% if loop.index == 2 %}
<div class="layout3">
  <div class="image-background" style="background:url(https://images.pexels.com/photos/953216/pexels-photo-953216.jpeg) no-repeat; background-size: cover;">
    <h2 class="background-block">Ready For An Upgraded Drupal Experience?</h2>
    <div class="body col-md-6">
      With over a decade of experience with Drupal, we lead the industry when it comes to building customized, omni-channel and completely awesome digital experience. Our enterprise Drupal development services bring to the table a highly experienced, innovative team which thinks on its feet and has brought to life many a visions of our clients. We listen, strategize and execute our client vision to reality. Call us now for a free consultation and quote.
    </div>
  </div>
</div>
{% endif %}
{% if loop.index == 3 %}
<div class="layout4">
  <div class="image-background" style="background:url(https://images.pexels.com/photos/953216/pexels-photo-953216.jpeg) no-repeat; background-size: cover;">
    <h2 class="background-block">Ready For An Upgraded Drupal Experience?</h2>
    <div class="body col-md-6">
      With over a decade of experience with Drupal, we lead the industry when it comes to building customized, omni-channel and completely awesome digital experience. Our enterprise Drupal development services bring to the table a highly experienced, innovative team which thinks on its feet and has brought to life many a visions of our clients. We listen, strategize and execute our client vision to reality. Call us now for a free consultation and quote.
    </div>
  </div>
</div>
{% endif %}
{% if loop.index == 4 %}
<div class="layout5">
  <div class="image-background" style="background:url(https://images.pexels.com/photos/953216/pexels-photo-953216.jpeg) no-repeat; background-size: cover;">
    <h2 class="background-block">Ready For An Upgraded Drupal Experience?</h2>
    <div class="body col-md-6">
      With over a decade of experience with Drupal, we lead the industry when it comes to building customized, omni-channel and completely awesome digital experience. Our enterprise Drupal development services bring to the table a highly experienced, innovative team which thinks on its feet and has brought to life many a visions of our clients. We listen, strategize and execute our client vision to reality. Call us now for a free consultation and quote.
    </div>
  </div>
</div>
{% endif %}
{% if loop.index == 5 %}
<div class="layout6">
  <div class="image-background" style="background:url(https://images.pexels.com/photos/953216/pexels-photo-953216.jpeg) no-repeat; background-size: cover;">
    <h2 class="background-block">Ready For An Upgraded Drupal Experience?</h2>
    <div class="body col-md-6">
      With over a decade of experience with Drupal, we lead the industry when it comes to building customized, omni-channel and completely awesome digital experience. Our enterprise Drupal development services bring to the table a highly experienced, innovative team which thinks on its feet and has brought to life many a visions of our clients. We listen, strategize and execute our client vision to reality. Call us now for a free consultation and quote.
    </div>
  </div>
</div>
{% endif %}
{% endfor %}

<div class="layout2"></div>
<div class="layout3"></div>
<div class="layout4"></div>
<div class="layout5"></div>
<div class="layout6"></div>
{# Services paragraphs #}
<div class="content-container">
  <div class="container">
    <div class="intro-section">
      <div class="row">
          <h1>{{ node.field_title.value }}</h1>
          {{ node.body.value|raw }}
      </div>
    </div>

    {# <div class="content-section section-12 text-center">
      <div class="row">
        <div class="col-md-10 mx-auto p-5">
          <h1>{{ node.field_block_title.value }}</h1>
          {{ node.field_description.value|raw }}
        </div>
      </div>
    </div> #}
    {# <section class="service-list">
      <div class="container">
        <div class="services-block pt-5">
          <div class="row">
              {% for item in node.field_services_icons %}
            <div class="col-md-4">
              <div class="s-block">
                <div class="icon-image">
                  <img src="{{ file_url(item.entity.field_image.entity.fileuri) }}" alt="{{item.entity.field_image.alt}}" />
                </div>
                <h6>{{ item.entity.field_title.value }}</h6>


              </div>
            </div>

              {% endfor %}


          </div>
        </div>

      </div>
    </section> #}


  </div>
  <div class="experience">
    <div class="exp-bg" style="background-image: url({{ file_url(node.field_image.entity.fileuri) }}); width: 100%;">
      <div class="container">
        <div class="">
          <h2>{{ node.field_block_title.value }}</h2>
          {{ node.field_description.value|raw }}
          <a href="#" class="btn">Get in Touch</a>
        </div>
      </div>
    </div>
  </div>
</div>




{% include 'themes/custom/ddc/templates/includes/footer.html.twig' %}
