{% include 'themes/custom/ddc/templates/includes/header.html.twig' %}


<div class="inner-banner">
  <div class="container">
    <div>
      <div class="banner-text">
        <h1 class="animated slideInUp">{{ node.title.value }}</h1>
        <h6 class="text-faded mb-5">{{ node.field_summary.value  }}</h6>
      </div>
    </div>
  </div>
  <div class="slide-image"> <img src="{{ file_url(node.field_banner_image.entity.fileuri) }}" alt="{{node.field_banner_image.alt}}" /></div>
</div>
{{ page.breadcrumb }}

<div class="inner-page-content">
  <div class="container">

    <div class="about-intro p-lg-5">
    <div class="row">

      <div class="col-md-4 text-center">
        <img src="themes/custom/ddc/images/drupal-icon.png" />
      </div>

      <div class="col-md-8 px-lg-5">
        <div>
            <h3>{{ node.field_title.value }}</h3>
            {{ node.body.value|raw }}
        </div>
      </div>
      </div>
    </div>
    <div class="middle-intro px-lg-5">
    <div class="row">

        <div class="col-md-12">
            <h3>{{ node.field_block_title.value }}</h3>
            {{ node.field_description.value|raw }}
        </div>

      </div>
    </div>



    </div>
  </div>
</div>


{% include 'themes/custom/ddc/templates/includes/footer.html.twig' %}
