{% include 'themes/custom/ddc/templates/includes/header.html.twig' %}


<div class="inner-banner">
  <div class="container">
    <div>
      <div class="banner-text">
        <h1 class="animated slideInUp">{{ node.title.value }}</h1>
      </div>
    </div>
  </div>
  <div class="slide-image"> <img src="{{ file_url(node.field_banner_image.entity.fileuri) }}" alt="{{node.field_banner_image.alt}}" /></div>
</div>
{{ page.breadcrumb }}
{{ page.highlighted }}

{# <div class="container">
  <div class="contact-page">
    <div class="row">
      <div class="col-md-10">
        <div class="p-5 text-white">
          <h3>Hi,</h3>
          <h3>I'am <input type="text" placeholder="Jason Roy"> </h3>
          <h3>From <input type="text" placeholder="India"> </h3>
          <h3>Looking for <input type="text" placeholder="Web Development"> </h3>
          <h3>Contact with me</h3>
          <h3><input type="text" placeholder="jason@gmail.com"> / <input type="text" placeholder="+91 9854313999"></h3>
          <a href="#" class="btn">Connect</a>
        </div>
      </div>
    </div>
  </div>
</div> #}


<div class="container">
  <div class="row">
    <div class="col-md-8">
      {# Webform #}
      {{ page.sidebar_first }}
    </div>
    <div class="col-md-4">
      {# {{ page.google_map }} #}
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15548.904409454703!2d77.647361!3d13.0212687!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1a37d169cc8d2c28!2sNetiApps!5e0!3m2!1sen!2sin!4v1543385101054" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>


{% include 'themes/custom/ddc/templates/includes/footer.html.twig' %}
