
    <footer class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-4 pr-5">
            <h3>Headquarters</h3>
            <p>No. 839, 9th Main, 1st Block HRBR Layout,
              Kalyan Nagar Bangalore - 560 043, Karnataka, India.</p>
            <p> +91-80-41733406/91-80-41733608</p>
            <div class="row">              
              <p class="col-md-7 netiapps-footer-logo"> A division of <a href="https://www.netiapps.com/"><img src="{{ path('<front>') }}themes/custom/ddc/images/netiapps-logo-white.png"/></a></p>
              <div class="col-md-5">
                <a href="//www.dmca.com/Protection/Status.aspx?ID=4c3a235c-7b17-45f5-b06f-938bb1fafc1b" title="DMCA.com Protection Status" class="dmca-badge" target="_blank"> <img src ="https://images.dmca.com/Badges/_dmca_premi_badge_2.png?ID=4c3a235c-7b17-45f5-b06f-938bb1fafc1b"  alt="DMCA.com Protection Status" style="height: 70px;" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
              </div>
            </div>          
          </div>
          <div class="col-md-4">
            {{ page.footer_first}}
          </div>
          <div class="col-md-4 text-center social-block">
            <div class="social-media-block">              
                <a class="facebook" target="_blank" href="http://www.facebook.com/netiapps"><img src="{{ path('<front>') }}themes/custom/ddc/images/facebook-logo.png"></a>
                <a class="facebook" target="_blank" href="https://www.linkedin.com/company/NetiApps-Software"><img src="{{ path('<front>') }}themes/custom/ddc/images/linkedin.png"></a>
                <a class="facebook" target="_blank" href="https://twitter.com/netiapps"><img src="{{ path('<front>') }}themes/custom/ddc/images/twitter.png"></a>
                <a class="facebook" target="_blank" href="https://www.youtube.com/channel/UC_gkb87YDPMJTf7EsEKortg"><img src="{{ path('<front>') }}themes/custom/ddc/images/youtube.png"></a>
                <a class="facebook" target="_blank" href="https://www.instagram.com/netiapps/"><img src="{{ path('<front>') }}themes/custom/ddc/images/instagram.png"></a>              
            </div>
            <a href="{{ path('<front>') }}contact-us" class="btn" >Get in touch</a>
          </div>
        </div>
      </div>
    </footer>

  </body>
