
<footer class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-4 pr-5">
            <h3>Headquarters</h3>
            <p>No. 839, 9th Main, 1st Block HRBR Layout,
              Kalyan Nagar Bangalore - 560 043, Karnataka, India.</p>
            <p> +91-80-41733406/91-80-41733608</p>
            <p class="netiapps-footer-logo"> A division of <a href="https://www.netiapps.com/"><img src="{{ path('<front>') }}themes/custom/ddc/images/netiapps-logo-white.png"/></a></p>
          </div>
          <div class="col-md-4">
            {{ page.footer_first}}
          </div>
          <div class="col-md-4 text-center social-block">
            <div class="social-media-block">              
                <a class="facebook" target="_blank" href="http://www.facebook.com/netiapps"><img src="{{ path('<front>') }}themes/custom/ddc/images/facebook-logo.png"></a>
                <a class="facebook" target="_blank" href="https://www.linkedin.com/company/NetiApps-Software"><img src="{{ path('<front>') }}themes/custom/ddc/images/linkedin.png"></a>
                <a class="facebook" target="_blank" href="https://twitter.com/netiapps"><img src="{{ path('<front>') }}themes/custom/ddc/images/twitter.png"></a>
                <a class="facebook" target="_blank" href="https://www.youtube.com/channel/UC_gkb87YDPMJTf7EsEKortg"><img src="{{ path('<front>') }}themes/custom/ddc/images/youtube.png"></a>
                <a class="facebook" target="_blank" href="https://www.instagram.com/netiapps/"><img src="{{ path('<front>') }}themes/custom/ddc/images/instagram.png"></a>              
            </div>
            <a href="{{ path('<front>') }}contact-us" class="btn" >Get in touch</a>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    {# <script src="vendor/jquery/jquery.min.js"></script> #}
    {# <script src="themes/custom/ddc/js/bootstrap/js/bootstrap.bundle.min.js"></script> #}

    <!-- Plugin JavaScript -->
    {# <script src="themes/custom/ddc/js/jquery-easing/jquery.easing.min.js"></script>
    <script src="themes/custom/ddc/js/scrollreveal/scrollreveal.min.js"></script>
    <script src="themes/custom/ddc/js/magnific-popup/jquery.magnific-popup.min.js"></script> #}

    <!-- Custom scripts for this template -->
    {# <script src="themes/custom/ddc/js/creative.min.js"></script>
    <script src="themes/custom/ddc/js/creative.js"></script> #}

  </body>

  <style>
  .footer-menu ul {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
  }
  .nav-link-footer{
    color: white;
  }
  </style>

