  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Netiapps Drupal Development Company</title>

    <!-- Bootstrap core CSS -->
    {# <link href="{{ path('<front>') }}themes/custom/ddc/css/bootstrap/css/bootstrap.min.css" rel="stylesheet"> #}


    <!-- Custom styles for this template -->
    {# <link href="{{ path('<front>') }}themes/custom/ddc/css/creative.min.css" rel="stylesheet"> #}


  </head>

  <body id="page-top">

  <header class="nav-down">
    <div class="menu-icon">
        <span class="menu-icon__line menu-icon__line-left"></span>
        <span class="menu-icon__line"></span>
        <span class="menu-icon__line menu-icon__line-right"></span>
        {#<div><a class="navbar-brand js-scroll-trigger" href="/"><img src="{{ logopath }}" ></a></div>#}
    </div>

    <a class="navbar-brand" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" style="position: absolute; left: 6px; top: 7px"><img src="{{ logopath }}" alt="{{ 'Home'|t }}"></a>
  </header>
  <div class="nav">
      <a class="reverse-navbar-brand" href="{{ path('<front>') }}" title="{{ 'Home'|t }}"><img src="themes/custom/ddc/images/logo-reverse.png" alt="{{ 'Home'|t }}"></a>
      <div class="nav__content">
          {{ page.primary_menu }}


          <div class="content__bottom d-flex justify-content-between align-items-center">
              <p class="tell-us-title">Tell us about your project</p>
              <a href="#">Get in touch</a>
          </div>

          {#<ul class="ml-auto nav pt-3">#}
              {#<li><img src="themes/custom/ddc/images/acquia.png" /></li>#}
              {#<li><img src="themes/custom/ddc/images/pantheon.png" /></li>#}
          {#</ul>#}


      </div>
  </div>


  <script>
    console.clear();

    var app = function () {
      var body = void 0;
      var menu = void 0;
      var menuItems = void 0;

      var init = function init() {
        body = document.querySelector('body');
        menu = document.querySelector('.menu-icon');
        menuItems = document.querySelectorAll('.nav__list-item');

        applyListeners();
      };

      var applyListeners = function applyListeners() {
        menu.addEventListener('click', function () {return toggleClass(body, 'nav-active');});
      };

      var toggleClass = function toggleClass(element, stringClass) {
        if (element.classList.contains(stringClass))
          element.classList.remove(stringClass);else

          element.classList.add(stringClass);
      };

      init();
    }();
  </script>


    <div class="sticky-left animated slideInRight">
      <ul>
        <li><a class="facebook" target="_blank" href="http://www.facebook.com/netiapps"><img src="{{ path('<front>') }}themes/custom/ddc/images/facebook-logo.png"></a></li>
        <li><a class="facebook" target="_blank" href="https://www.linkedin.com/company/NetiApps-Software"><img src="{{ path('<front>') }}themes/custom/ddc/images/linkedin.png"></a></li>
        <li><a class="facebook" target="_blank" href="https://twitter.com/netiapps"><img src="{{ path('<front>') }}themes/custom/ddc/images/twitter.png"></a></li>
        <li><a class="facebook" target="_blank" href="https://www.youtube.com/channel/UC_gkb87YDPMJTf7EsEKortg"><img src="{{ path('<front>') }}themes/custom/ddc/images/youtube.png"></a></li>
        <li><a class="facebook" target="_blank" href="https://www.instagram.com/netiapps/"><img src="{{ path('<front>') }}themes/custom/ddc/images/instagram.png"></a></li>
      </ul>
    </div>

<script>
{# jQuery(document).ready(function(){

  $didScroll;
  var lastScrollTop = 0;
  var delta = 5;
  var navbarHeight = $('header').outerHeight();

  $(window).scroll(function(event){
    didScroll = true;
  });

  setInterval(function() {
    if (didScroll) {
        hasScrolled();
        didScroll = false;
    }
  }, 250);

  function hasScrolled() {
    var st = $(this).scrollTop();

    // Make sure they scroll more than delta
    if(Math.abs(lastScrollTop - st) <= delta)
        return;

    // If they scrolled down and are past the navbar, add class .nav-up.
    // This is necessary so you never see what is "behind" the navbar.
    if (st > lastScrollTop && st > navbarHeight){
        // Scroll Down
        $('header').removeClass('nav-down').addClass('nav-up');
    } else {
        // Scroll Up
        if(st + jQuery(window).height() < jQuery(document).height()) {
            $('header').removeClass('nav-up').addClass('nav-down');
        }
    }

    lastScrollTop = st;
  }
}); #}

</script>
